@import url("//hello.myfonts.net/count/3befa6");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  
@font-face {
  font-family: 'BeatsterOutline';
  src: url('fonts/font.woff2') format('woff2'), url('fonts/font.woff') format('woff');
}

html, body{
    height: 100%;
    padding-bottom: 100%;
}

h1{
    font-family: 'BeatsterOutline';
}

h2{
    font-family: 'BeatsterOutline';
    color: white;
    text-align: center;
}

h3{
    font-family: 'BeatsterOutline';
    color: black;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    margin-top: 15px;
    

}
}

h4{
    font-family: 'BeatsterOutline';
    color: white;
    text-align: center;
}

.mainfieldheader {
    margin-top: 20px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

hr {
    color: white;
    border: 1px;
}

.whitetext {
    color: white;
}

.black {
    color: black;
}


.paint {
    background-image: url("../images/Paintcloud.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 0;
    filter: drop-shadow(0 0 30px white);
}

.slogan {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    filter: drop-shadow(0 0 30px white);
    opacity: 100%!important;
}

.logo {
    max-width: 100px;
}

.mainlogo {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    filter: drop-shadow(0 0 30px grey);
    opacity: 100%!important;
}

@media only screen and (max-width: 575px) {
  .slogan {
      text-size-adjust: auto;
      font-size: 200%;
  }
}

@media only screen and (max-width: 991px) {
  .mainlogo {
    max-width: 40%;
    text-align: center;
    margin: auto;
  }
  .slogan {
      text-size-adjust: auto;
    }
}

@media only screen and (min-width: 1199px) {
  .mainlogo {
    max-width: 90%;
    text-align: center;
    margin: auto;
  }
  .slogan {
      text-size-adjust: auto;
    }
}

.bg-dark {
    background-color: black!important;
    filter: drop-shadow(0 0 10px black);
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: 'BeatsterOutline';
    font-size: xx-large;
    padding-left:30px;
    padding-right:30px;
}

.fader {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
  position: static;
  height: 100%;
  z-index: 3;
  opacity: 0.5;
  padding-bottom: 100%;
}

.mainfield {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 10px black);
    
}

.ontop {
    position: absolute;
    min-width: 100%;
    max-height: 100%;
    z-index: 10;
}

.border {
    border: 3px solid white!important;
    border-radius: 20px!important;
}

/* Modal */

.modal-content {
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
}

.register {
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    outline: 0;
    font-family: 'Montserrat', sans-serif;
    font-size:1.5vw;
}
    
.register-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    padding-right: 0px;
    padding-left: 0px;
    font-size:3.5vw;
}

label {
    color: white;
}

.assignment_view {
    padding-top: 15px;
}

.assignment_logo {
    max-width: 13vw;
}