@import url("//hello.myfonts.net/count/3befa6");
  
@font-face {
  font-family: 'BeatsterOutline';
  src: url('fonts/font.woff2') format('woff2'), url('fonts/font.woff') format('woff');
}

html, body{
    height: 100%;
}

.logo {
    max-width: 100px;
}

.bg-dark {
    background-color: black!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: 'BeatsterOutline';
    font-size: xx-large;
    padding-left:30px;
    padding-right:30px;
}

.fader {
  background-image: url("../images/backgrounds/bg2.jpg");
  background-position: 50% 0;
  background-size: cover;
  height: 100%;
}
