{% extends 'client_base.html' %} {% block content %}

<h3 class="bordered_header">New Assignment</h3>

<form action="">
<div class="container assignment_view">
    <div class="row">
        <div class="col-md-12 register">
        <h2 class="register-title">Add details for a new Assignment</h2>
           <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <h3 class="topics">Assignment Title</h2>
                        <input class="form-control" type="text" placeholder="Assignment Title">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="topics">Short Description</h2>
                        <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3 class="topics">Assignment Description</h2>
                        <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3 class="topics">Goals</h2>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Goal 1</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="Enter a goal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Goal 2</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="Enter a goal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Goal 3</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="Enter a goal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Goal 4</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="Enter a goal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Goal 5</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="Enter a goal">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3 class="topics">Assignment Type</h2>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Business of Private</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                            <option>Business</option>
                            <option>Private</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Business name</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="colFormLabel" placeholder="Business name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row addspacebelow">
                    <div class="col">
                        <h3 class="topics">Preferred Properties</h2>

                        <table class="whitetext" style="width:100%">
                            <tr>
                                <td>Female</td>
                                <td><input type="range" class="slider" name="points" min="0" max="10"></td>
                                <td>Male</td>
                            </tr>
                            <tr>
                                <td>Modern</td>
                                <td><input type="range" class="slider" name="points" min="0" max="10"></td>
                                <td>Classic</td>
                            </tr>
                            <tr>
                                <td>Noisy</td>
                                <td><input type="range" class="slider" name="points" min="0" max="10"></td>
                                <td>Quiet</td>
                            </tr>
                            <tr>
                                <td>Simple</td>
                                <td><input type="range" class="slider" name="points" min="0" max="10"></td>
                                <td>Complex</td>
                            </tr>
                            <tr>
                                <td>Subtle</td>
                                <td><input type="range" class="slider" name="points" min="0" max="10"></td>
                                <td>Clear</td>
                            </tr>
                            <tr>
                                <td>Very Big</td>
                                <td><input type="range" class="slider" name="points" min="0" max="10"></td>
                                <td>Very Small</td>
                            </tr>
                            <tr>
                                <td>Abstract</td>
                                <td><input type="range" class="slider" name="points" min="0" max="10"></td>
                                <td>Organic</td>
                            </tr>
                            <tr>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row addspacebelow">
                    <div class="col">
                        <h3 class="topics">Preferred Colours</h2>

                        <table class="whitetext" style="width:100%">
                            <tr>
                                <td><label for="head">Color 1 </label><input type="color" id="head" name="head"></td>
                                <td><label for="head">Color 2 </label><input type="color" id="head" name="head"></td>
                                <td><label for="head">Color 3 </label><input type="color" id="head" name="head"></td>
                                <td><label for="head">Color 4 </label><input type="color" id="head" name="head"></td>
                            </tr>
                            
                        </table>
                    </div>
                </div>

                <div class="row addspacebelow">
                    <div class="col">
                        <h3 class="topics">Preferred Themes</h2>
                        
                        
                            <div class="btn-group-toggle themeborder" data-toggle="buttons">
                            <label class="btn btn-secondary active">
                                <input type="checkbox" checked autocomplete="off"> Checked
                            </label>
                            </div>
                        
                        
                        
                        <div class="themeborder">Architecture</div>
                        
                        
                        <div class="themeborder">Nature</div>
                        
                        
                        <div class="themeborder">Collage</div>
                        
                        
                        <div class="themeborder">Animals</div>
                        
                        
                        <div class="themeborder">Fantasy</div>
                        
                        
                        <div class="themeborder">Interior</div>
                        
                        
                        <div class="themeborder">Landscape</div>
                        
                       
                        <div class="themeborder">Maritime</div>
                        
                        
                        <div class="themeborder">People</div>
                        
                        
                        <div class="themeborder">Sports</div>
                        
                        
                        <div class="themeborder">City</div>
                        
                        
                        <div class="themeborder">Still Life</div>
                        

                        <div class="themeborder">Vehicles</div>
                        
                        
                        <div class="themeborder">Beach</div>
                        
                        
                        <div class="themeborder">Futurism</div>
                        
                        
                        <div class="themeborder">Portrait</div>
                        
                        
                        <div class="themeborder">Space</div>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3 class="topics">Preferred Materials</h2>
                        <input class="form-control" type="text" placeholder="Preferred Materials">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3 class="topics">Preferred Techniques</h2>
                        <input class="form-control" type="text" placeholder="Preferred Techniques">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3 class="topics">Images</h2>
                        <p>Supported soon</p>
                    </div>
                </div>

                <div class="row justify-content-end addspacebelow">
                    <div class="col">
                        
                        <button type="submit" class="btn btn-light endpagebuttons">Submit Assignment</button>
                        
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
</form>
{% endblock %}