{% extends 'client_base.html' %} {% block content %}

<h3 class="bordered_header">New Assignment</h3>

<form action="{{url_for('insert_assignment')}}" method="POST">
<div class="container assignment_view">
    <div class="row addspacebelow">
        <div class="col-md-12 register">
        <h2 class="register-title">Add details for a new Assignment</h2>
           <div class="container-fluid">
                <div class="row">
                    <div class="col addspacebelow">
                        <h3 class="topics">Assignment Title</h2>
                        <input class="form-control" type="text" name="title" placeholder="Assignment Title">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 class="topics">Short Description</h2>
                        <div class="form-group">
                        <textarea class="form-control" name="short_description" rows="2"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3 class="topics">Assignment Description</h2>
                        <div class="form-group">
                        <textarea class="form-control" name="long_description" rows="5"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3 class="topics">Goals</h2>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Goal 1</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" name="goal_1" placeholder="Enter a goal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Goal 2</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" name="goal_2" placeholder="Enter a goal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Goal 3</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" name="goal_3" placeholder="Enter a goal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Goal 4</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" name="goal_4" placeholder="Enter a goal">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Goal 5</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" name="goal_5" placeholder="Enter a goal">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3 class="topics">Assignment Type</h2>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Business of Private</label>
                            <select class="form-control" name="type">
                            <option>Business</option>
                            <option>Private</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">Business name</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" name="company" placeholder="Business name">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3 class="topics">Offer</h2>
                        <div class="form-group row">
                            <label for="colFormLabel" class="col-sm-2 col-form-label">€</label>
                            <div class="col-sm-10">
                            <input type="number" class="form-control" name="offer" placeholder="Enter amount" step="1.0">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row addspacebelow">
                    <div class="col">
                        <h3 class="topics">Preferred Properties</h2>

                        <table class="whitetext" style="width:100%">
                            <tr>
                                <td>Female</td>
                                <td><input type="range" class="slider" name="aes_fem" min="0" max="10"></td>
                                <td>Male</td>
                            </tr>
                            <tr>
                                <td>Modern</td>
                                <td><input type="range" class="slider" name="aes_mod" min="0" max="10"></td>
                                <td>Classic</td>
                            </tr>
                            <tr>
                                <td>Noisy</td>
                                <td><input type="range" class="slider" name="aes_noi" min="0" max="10"></td>
                                <td>Quiet</td>
                            </tr>
                            <tr>
                                <td>Simple</td>
                                <td><input type="range" class="slider" name="aes_sim" min="0" max="10"></td>
                                <td>Complex</td>
                            </tr>
                            <tr>
                                <td>Subtle</td>
                                <td><input type="range" class="slider" name="aes_sub" min="0" max="10"></td>
                                <td>Clear</td>
                            </tr>
                            <tr>
                                <td>Very Big</td>
                                <td><input type="range" class="slider" name="aes_big" min="0" max="10"></td>
                                <td>Very Small</td>
                            </tr>
                            <tr>
                                <td>Abstract</td>
                                <td><input type="range" class="slider" name="aes_abs" min="0" max="10"></td>
                                <td>Organic</td>
                            </tr>
                            <tr>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row addspacebelow">
                    <div class="col">
                        <h3 class="topics">Preferred Colours</h2>

                        <table class="whitetext" style="width:100%">
                            <tr>
                                <td><label for="head">Color 1 </label><input type="color" name="colour_1"></td>
                                <td><label for="head">Color 2 </label><input type="color" name="colour_2"></td>
                                <td><label for="head">Color 3 </label><input type="color" name="colour_3"></td>
                                <td><label for="head">Color 4 </label><input type="color" name="colour_4"></td>
                            </tr>
                            
                        </table>
                    </div>
                </div>

                <div class="row addspacebelow">
                    <div class="col">
                        <h3 class="topics">Preferred Themes</h2>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "asbtract" value = "false">Abstract</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "architecture" value = "false">Architecture</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "nature" value = "false">Nature</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "collage" value = "false">Collage</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "animals" value = "false">Animals</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "fantasy" value = "false">Fantasy</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "interior" value = "false">Interior</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "landscape" value = "false">Landscape</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "maritime" value = "false">Maritime</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "people" value = "false">People</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "sports" value = "false">Sports</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "citylife" value = "false">City Life</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "stilllife" value = "false">Still Life</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "vehicles" value = "false">Vehicles</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "beach" value = "false">Beach</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "futurism" value = "false">Futurism</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "portrait" value = "false">Portrait</input>
                        </div>
                        <div class="themeborder theme">
                            <input class="" type = "hidden" name = "space" value = "false">Space</input>
                        </div>
                        
                    </div>
                </div>

                <div class="row addspacebelow">
                    <div class="col">
                        <h3 class="topics">Preferred Materials</h2>
                        <input class="form-control" type="text" name="materials" placeholder="Preferred Materials">
                    </div>
                </div>

                <div class="row addspacebelow">
                    <div class="col">
                        <h3 class="topics">Preferred Techniques</h2>
                        <input class="form-control" type="text" name="techniques" placeholder="Preferred Techniques">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3 class="topics">Images</h2>
                        <p>Supported soon</p>
                    </div>
                </div>

                <div class="row justify-content-end addspacebelow">
                    <div class="col">
                        
                        <button type="submit" class="btn btn-light endpagebuttons">Submit Assignment</button>
                        
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
</form>
{% endblock %}