{% extends 'artist_base.html' %} {% block content %}

<h3 class="bordered_header">Add a Proposal</h3>

<div class="container assignment_view">
    <div class="row addspacebelow">
        <div class="col-md-12 register">
        <h2 class="register-title">{{assignment.title}}</h2>
           <div class="container-fluid">
                <div class="row">
                    <div class="col-2"><img src="/static/images/placeholder.jpg" class="assignment_logo"alt=""></div>
                    <div class="col-5">
                    <ul class="whitetext">
                        <li>Type: {{assignment.type}}</li>
                        <li>Added by: {{assignment.client_id}}</li>
                        <li>Offer: {{assignment.offer}}</li>
                        <li>Date added: {{assignment.add_date}}</li>
                        <li>End date: {{assignment.end_date}}</li>
                        <li>Location: {{assignment.city}}</li>
                    </ul>
                    
                    </div>
                    <div class="col-5">
                    <p>{{assignment.short_description}}</p>
                    </div>
                    
                </div>

                <div class="row">
                    <div class="col">
                        <h3 class="topics">Assignment Description</h2>
                        <p>{{assignment.long_description}}</p>
                    </div>
                </div>

                <div class="container assignment_view">
                    <div class="row addspacebelow">
                        <div class="col-md-12 register striped-background">
                        <h2 class="register-title">My proposal for: {{assignment.title}}</h2>
                            
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <form action="{{url_for('insert_proposal', assignment_id=assignment._id)}}" method="POST">
                                        <div class="form-group">
                                            <label for="formGroupExampleInput">Title of Proposal</label>
                                            <input type="text" class="form-control" name="title" id="title" placeholder="Proposal for {{assignment.title}}">
                                        </div>
                                        <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Description</label>
                                        <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">Materials Used</label>
                                            <input type="text" class="form-control" name="materials" id="materials" placeholder="Materials">
                                        </div>
                                        <p>Uploading images to support your proposal will be available soon</p>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">Available period, from</label>
                                            <input type="date" class="form-control" name="availability_start" id="availability_start" placeholder="Another input">
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">Untill</label>
                                            <input type="date" class="form-control" name="availability_end" id="availability_end" placeholder="Another input">
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col">
                                        <button type="submit" class="btn btn-light endpagebuttons">Submit a Proposal</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            
                            
                        </div> 
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col">
                        <form action="{{url_for('assignments')}}">
                            <button type="submit" class="btn btn-secondary endpagebuttons">Back to Assignment Details</button>
                        </form>
                    </div>
                </div>
</div>

                
        </div> 
    </div>
</div>


{% endblock %}