{% extends 'base.html' %}

{% block content %}


<div class="row paint">
    <div class="col-lg-1"></div>
    <div class="col-12 col-lg-5">
        <img src="../static/images/Customartist_logo_mascot.png" class="mainlogo" alt="">
    </div>
    <div class="col-1 d-lg-none"></div>
    <div class="col-10 col-lg-5">
        <h3 class="slogan">The online supply and demand platform for artists and clients.</h3>
    </div>
        
</div>



<div class="row">
  <div class="col-12 mainfield">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam voluptas labore totam corporis earum maxime molestias quisquam quidem quis? Dignissimos veritatis hic iure ducimus facilis eaque, optio dolore dolores blanditiis!</p>
  </div>
</div>

{% endblock %}
