{% extends 'base.html' %} {% block title_and_slogan %}

<div class="ontop">
    <div class="container-fluid">
        <div class="row paint">
            <div class="col-lg-1"></div>
            <div class="col-12 col-lg-5">
                <img src="../static/images/Customartist_logo_mascot.png" class="mainlogo" alt="" />
            </div>
            <div class="col-1 d-lg-none"></div>
            <div class="col-10 col-lg-5">
                <h1 class="slogan">
                    The online supply and demand platform for artists and clients.
                </h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mainfield">
            <div class="col-1"></div>
            <div class="col-10">
                <h2 class="mainfieldheader">Welcome to Custom Artist</h2>
                <p>
                    Custom Artist creates opportunities for artists to get in touch with clients. These clients could be companies or private clients who are looking for an artist to create a particular form of artwork.
                </p>
                <p>
                    The client uploads an assignment. Artists respond to assignments they’re interested in with an artwork proposal. Through a logical and clear step-by-step process the artist and client can come to an agreement.
                </p>
                <p>
                    Custom Artist supports artists who are struggling to find assignments to earn money. At the same time it saves companies and private clients time to find the art they are – in whatever form – looking for.
                </p>
                <h2 id="howdoesthiswork" class="mainfieldheader">How does it work?</h2>

                <div class="container">
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col d-none d-md-block">
                            <img class="mascot" src="../static/images/Mascot.png">
                        </div>
                        <div class="col explanation">
                            <div>
                            <h3 class="howdoesitworktopic">Artist or Client?</h3>
                            <p>
                                You can your way in the Navigation Bar at the top of the page. If you're an artist looking for assignments, click on 'Artists'. If you're a client who wants to post an assignment, click on 'Clients'.
                                Be sure to register, and you're good to go.
                            </p>
                            </div>
                        </div>
                    </div>
                    <h2 class="mainfieldheader">If you're an Artist</h2>
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col explanation">
                            <div>
                            <h3 class="howdoesitworktopic">1. Find an Assignment</h3>
                            <p>
                                You can find available assignments on the 'Assignments' page. Find something that you like, and click on 'View Details'.

                            </p>
                            </div>
                        </div>
                        <div class="col d-none d-md-block">
                            <img class="mascot" src="../static/images/Explanation1.png">
                        </div>
                        
                    </div>
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col d-none d-md-block">
                            <img class="mascot" src="../static/images/Explanation2.png">
                        </div>
                        <div class="col explanation">
                            <div>
                            <h3 class="howdoesitworktopic">2. Read Description</h3>
                            <p>
                                You can view an extensive description of the assignment. Do you feel like you are up to the job? Click on 'Submit a Proposal'.

                            </p>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="row d-flex flex-wrap align-items-center addspacebelow">
                        <div class="col explanation">
                            <div>
                            <h3 class="howdoesitworktopic">3. Submit your Proposal</h3>
                            <p>
                                Enter the details of your proposal and when you're done, submit it! If the client likes your proposal, they will contact you. Well done!

                            </p>
                            </div>
                        </div>
                        <div class="col d-none d-md-block">
                            <img class="mascot" src="../static/images/Explanation3.png">
                        </div>
                        
                        
                        
                    </div>
                    <h2 class="mainfieldheader">If you're a Client</h2>
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col d-none d-md-block">
                            <img class="mascot" src="../static/images/Explanation4.png">
                        </div>
                        <div class="col explanation">
                            <div>
                            <h3 class="howdoesitworktopic">1. Add an Assignment</h3>
                            <p>
                                Create a new assignment and add a detailed description. Submit it, and it will be posted for artists to see.
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col explanation">
                            <div>
                            <h3 class="howdoesitworktopic">2. Wait for Proposals</h3>
                            <p>
                                Wait for an artist to make a proposal for your assignment. You can view the status of your running assignments by clicking on 'My Assignments' and viewing the details.
                            </p>
                            </div>
                        </div>
                        <div class="col d-none d-md-block">
                            <img class="mascot" src="../static/images/Explanation5.png">
                        </div>
                    </div>
                    <div class="row d-flex flex-wrap align-items-center">
                        <div class="col d-none d-md-block">
                            <img class="mascot" src="../static/images/Explanation6.png">
                        </div>
                        <div class="col explanation">
                            <div>
                            <h3 class="howdoesitworktopic">3. Contact the Artist</h3>
                            <p>
                                If you like a proposal, contact the artist to make an appointment and discuss the details of your assignment. Done!
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
