{% extends 'artist_base.html' %} {% block content %}

<h3>My Proposals</h3>

{% for proposal in proposals %}

<div class="container assignment_view">
    <div class="row">
        <div class="col-md-12 register">
        <h2 class="register-title">{{proposal.title}}</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                    <p>{{proposal.description}}</p>
                    </div>
                    
                </div>
                <div class="row justify-content-end">
                    <div class="col offset-md-11">
                        <form action="">
                        <button type="submit" class="btn btn-light endpageassignmentbuttons addspacebelow">View Details</button>
                        </form>
                    <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endfor %}

{% endblock %}