{% extends 'artist_base.html' %} {% block content %}

<h3 class="bordered_header">My Proposals</h3>

{% for proposal in proposals %}
<div class="container assignment_view addspacebelow">
    <div class="row">
        <div class="col-md-12 register">
            <h2 class="register-title">{{proposal.title}}</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        {% for assignment in assignments %} {% if assignment._id == proposal.assignment_id %}
                        <h3 class="topics">For assignment</h3>
                        <div class="container">
                            <div class="row addspacebelow">
                                <div class="col-md-12 register striped-background">
                                    <h2 class="register-title">{{assignment.title}}</h2>
                                    <div class="container-fluid">
                                        <div class="row addspacebelow">
                                            <div class="col-2"><img src="/static/images/placeholder.jpg" class="assignment_logo" alt="" /></div>
                                            <div class="col-5">
                                                <ul class="whitetext">
                                                    {% if assignment.type %}
                                                    <li>Type: {{assignment.type}}</li>
                                                    {% endif %} {% if assignment.company %}
                                                    <li>Added by: {{assignment.company}}</li>
                                                    {% endif %} {% if assignment.offer %}
                                                    <li>Offer: $ {{assignment.offer}},-</li>
                                                    {% endif %} {% if assignment.add_date %}
                                                    <li>Date added: {{assignment.add_date}}</li>
                                                    {% endif %} {% if assignment.end_date %}
                                                    <li>End date: {{assignment.end_date}}</li>
                                                    {% endif %} {% if assignment.location %}
                                                    <li>Location: {{assignment.location}}</li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="col-5">
                                                <p>{{assignment.short_description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="topics">Title</h3>
                        <p>{{proposal.title}}</p>
                        <h3 class="topics">Description</h3>
                        <p>{{proposal.description}}</p>
                        <h3 class="topics">Available from</h3>
                        <p>{{proposal.availability_start}}</p>
                        <h3 class="topics">Until</h3>
                        <p>{{proposal.availability_end}}</p>
                    </div>
                </div>
                <div class="row justify-content-end addspacebelow">
                    <div class="col">
                        <form action="{{url_for('edit_proposal', proposal_id=proposal._id, assignment_id=assignment._id)}}">
                            <button type="submit" class="btn btn-light endpagebuttons">Edit Proposal</button>
                        </form>
                    </div>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %} {% if not proposals %}

<div class="container assignment_view">
    <div class="row addspacebelow">
        <div class="col-md-12 register striped-background">
            <h2 class="bordered-header">You do not have any running proposals</h2>
        </div>
    </div>
</div>

{% endif %} {% endblock %}