{% extends "base.html" %}
{% block register_artist %}

<div class="ontop">
<br>


<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-6 offset-md-3 register">
            <h2 class="register-title">Register as Client</h2>
            <form method="POST" action="{{ url_for('register_client') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="whitetex topics">Username</label>
                    <input type="text" class="form-control" name="clientname" placeholder="Username" minlength="8" required>
                    {% if userexists %}
                    <p class="warning">That Client Username Already Exists!</p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="whitetext topics">Password</label>
                    <input type="password" class="form-control" name="clientpass" placeholder="Password" minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                    <p class="note">Your password must contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter.</p>
                </div>
                
                <button type="submit" class="btn btn-secondary btn-block">Register</button>
            </form>
            <br>
        </div>
        
        
    </div>
</div>

</div>
{% endblock %}