{% extends "base.html" %}
{% block register_artist %}


<br>


<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-6 offset-md-3 register">
            <h2 class="register-title">Register as Artist</h2>
            <form method="POST" action="{{ url_for('register_artist') }}">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="whitetext">Username</label>
                    <input type="text" class="form-control" name="artistname" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="whitetext">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                {% if userexists %}
                    <p>That Username Already Exists!</p>
                    {% endif %}
                <button type="submit" class="btn btn-secondary btn-block">Register</button>
            </form>
            <br>
        </div>
        
        
    </div>
</div>
{% endblock %}